<!DOCTYPE html>
<html ng-app="carLoansApp">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/index.css">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="js/angular.js"></script>
</head>
<body ng-controller="mainController" >
	<div class="container">
		<div class="top">
			<div class="logo"></div>
			<div class="icon"></div>
		</div>
		<!-- <div class="middle">		 -->
			<form class="form">
				<div class="form__item">				
					<span class="left">Borrow Amount</span>
					<span class="right">${{loanAmount | number}}</span>
					<input type="range" min="3000" max="100000" step="1000" ng-init="loanAmount = 20000" ng-model="loanAmount">
				</div>
				<div class="form__item">				
					<span class="left">Loan Term</span>
					<span ng-show="loanTerm < 2" class="right">{{loanTerm}} Year</span>
					<span ng-show="loanTerm > 1" class="right">{{loanTerm}} Years</span>
					<input type="range" min="1" max="5" step="1" ng-init="loanTerm = 2" ng-model="loanTerm">
				</div>
				<div class="form__item">				
					<span class="left">Repayments</span>
					<span ng-show="frequency == 1" class="right">Weekly</span>
					<span ng-show="frequency == 2" class="right">Fortnightly</span>
					<span ng-show="frequency == 3" class="right">Monthly</span>
					<input type="range" min="1" max="3" step="1" ng-init="frequency = 3" ng-model="frequency">
				</div>
				<div class="form__item">				
					<span class="left">Interest Rate</span>
					<span class="right">9.95% p.a.</span>
				</div>
			</form>
		<!-- </div> -->
		<div class="bottom">
			<div class="repayment">
				<span>You could own your car for</span>
				<br>
				<span ng-show="frequency == 1" id="amount">${{repayementCalc(loanAmount, 9.95, (loanTerm * 12)) /4.34524 | number : 0}}</span>
				<span ng-show="frequency == 2" id="amount">${{repayementCalc(loanAmount, 9.95, (loanTerm * 12)) /4.34524 * 2 | number : 0}}</span>
				<span ng-show="frequency == 3" id="amount">${{repayementCalc(loanAmount, 9.95, (loanTerm * 12)) | number : 0}}</span>
				<span ng-show="frequency == 1"> a week</span>
				<span ng-show="frequency == 2"> fortnightly</span>
				<span ng-show="frequency == 3"> a month</span>
			</div>	
		</div>
	</div>
</body>