html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  overflow: none; }

.container {
  overflow: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.top {
  top: 0;
  width: 100%;
  height: 15%;
  background-color: #662D91;
  position: relative;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3); }

.middle {
  height: 55%;
  width: 100%;
  position: relative; }
  @media only screen and (max-height: 390px) {
    .middle {
      height: 65%; } }

.bottom {
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: #662D91;
  position: relative;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-height: 390px) {
    .bottom {
      height: 20%; } }
  .bottom .backlink {
    height: 20px;
    width: 50px;
    background: url("../imgs/glimp-logo.png") center/contain no-repeat;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 5px; }

.logo {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-image: url("../imgs/glimp-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 20px;
  width: 100px;
  height: 100px;
  position: absolute; }

.icon {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-image: url("../imgs/car.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 20px 0 0;
  right: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.repayment {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 200; }
  .repayment span#amount {
    margin: -10px 0 -10px 0;
    font-weight: 400;
    font-size: 1.5em;
    display: inline-block; }
  @media only screen and (max-width: 300px) {
    .repayment {
      font-size: 1.4em; } }
  @media only screen and (max-height: 390px) {
    .repayment {
      font-size: 1.4em; } }

.form {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: relative;
  margin: 5px 0 0 0;
  width: 100%;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  font-size: 1.5em; }
  .form span {
    z-index: 2;
    display: inline-block;
    position: relative; }
  .form span.left {
    font-weight: 200; }
  .form span.right {
    float: right; }
  .form__item {
    position: relative; }
  @media only screen and (max-height: 600px) {
    .form input {
      margin: -15px 0 0 0; } }
  @media only screen and (max-height: 500px) {
    .form__item {
      margin: 0 0 -20px 0; } }

input {
  position: relative;
  width: 100%;
  height: 50px;
  box-sizing: border-box; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #000000;
  border-radius: 25px; }

input[type=range]::-webkit-slider-thumb {
  height: 21px;
  width: 21px;
  border-radius: 6px;
  background: #662D91;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #080808; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #000000;
  border-radius: 25px; }

input[type=range]::-moz-range-thumb {
  height: 21px;
  width: 21px;
  border-radius: 6px;
  background: #662D91;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #000000;
  border-radius: 50px; }

input[type=range]::-ms-fill-upper {
  background: #000000;
  border-radius: 50px; }

input[type=range]::-ms-thumb {
  height: 21px;
  width: 21px;
  border-radius: 6px;
  background: #662D91;
  cursor: pointer;
  height: 5px; }

input[type=range]:focus::-ms-fill-lower {
  background: #000000; }

input[type=range]:focus::-ms-fill-upper {
  background: #080808; }

/*# sourceMappingURL=index.css.map */
